[include]
	path = ~/.gitconfig.local
	path = ~/.gitconfig.mac
	path = ~/.gitconfig.ubuntu
[color]
	ui = auto
[core]
	editor = vim
	compression = 9
	autocrlf = false
[diff]
	algorithm = minimal
	compactionheuristic = true
	interHunkContext = 20
[alias]
	difff = diff --ext-diff --find-renames=3 --find-copies=3
	logg = log --ext-diff --graph --pretty=fuller --show-signature --find-renames=3 --find-copies=3
	showw = show --pretty=fuller --show-signature --function-context
	co = checkout
	grepp = grep --function-context
[push]
	default = simple
[log]
	follow = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[hub]
	protocol = https
[pull]
	ff = only
[init]
	defaultBranch = master
# vim: noexpandtab
