[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[core]
	editor = vim
	compression = 9
	autocrlf = false
[diff]
	compactionheuristic = true
[alias]
	logg = log --graph --pretty=fuller --show-signature --inter-hunk-context=20
	showw = show --pretty=fuller --show-signature --inter-hunk-context=20
	co = checkout
	grepp = grep --function-context
[push]
	default = simple
[log]
	follow = true
[interactive]
	diffFilter = /opt/local/share/git/contrib/diff-highlight/diff-highlight
[commit]
	gpgsign = true
[pager]
	diff = /opt/local/share/git/contrib/diff-highlight/diff-highlight | less
	show = /opt/local/share/git/contrib/diff-highlight/diff-highlight | less
	log = /opt/local/share/git/contrib/diff-highlight/diff-highlight | less
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
# vim: noexpandtab
